@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #03045e;
  color: white;
}

a {
  color: rgb(245, 245, 111);
}

a:hover {
  color: white;
}

@layer utilities {
  /* Add border to child elements. Makes it easy to debug. */
  .debug * {
    border-color: white;
    border-width: 1px;
  }
}
